:root {
    --primary-font: "Roboto Slab", serif;
    --seconadary-font: "Gilda Display", serif;
    --tertiary-font: "Roboto", serif;
    --primary-color: #b20000;
    --secondary-color-one: #f7f7f7;
    --secondary-color-two: #520000;
    --secondary-color-three: #fc3d3d;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--secondary-color-one);
  font-family: var(--primary-font);
}

img {
  width: 100%;
}
header {
  background-image: linear-gradient(115deg, #03030390, transparent), url("../assets/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 4rem;

  img {
    width: 100%;
    height: 40px;
  }

  i {
    font-size: 1.2rem;
    padding-top: 0.7rem;
  }
}

.top-header {
  background-color: #ffffff;
  display: flex;
  padding: 0.4rem 0.7rem;
}

.logo {
  padding-left: 0.5rem;
}

nav {
  display: none;
}

.bottom-header {
  padding-top: 2rem;
  color: var(--secondary-color-one);
  
  h1 {
    font-weight: 100;
  }
}